.ticketButton:hover{
    background-color: yellow;
    transform: scale(1.5);
}
.divCenter {
    display:flex;
    justify-content:center;
    align-items:center;

}

.maxHeight{
    height: 100vh;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
}

.OuterDiv{
    height: 100vh;
    width: 100vw;

}

#Mehrfahrtenkarte{
    background-image: url("../img/dampflok.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#HinRueckFahrt {
    background-image: url("../img/japanLok.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#EinFahrt{
    background-image: url("../img/subway.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}