.ticketButton:hover{
    background-color: yellow;
    transform: scale(1.5);
}
.divCenter {
    display:flex;
    justify-content:center;
    align-items:center;

}

.maxHeight{
    height: 100vh;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
}

.OuterDiv{
    height: 100vh;
    width: 100vw;

}